.App {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 70vw;
    height: 100vh;
    overflow: auto;

    margin: 0 20vw;
}

.title {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 25px;
    color: rgb(199, 209, 219);
    position: relative;
    margin-top: 50px;
    margin-bottom: 25px;
}

.love {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 15px;
    color: rgb(199, 209, 219);
    margin-top: 80vh;

    text-decoration: none;
    outline: none;
}

.link {
    color: rgb(9, 112, 255);
    transition: color 0.2s linear;
}

.link:hover{
    color: rgb(7, 89, 204);
}

.love:focus {
    outline: none;
}