.App {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 60vw;
    height: 100vh;
    overflow: visible;

    margin: 0 20vw;
    position: absolute;
}

.text {
    font-family: 'Greycliff CF', sans-serif;
    font-size: 25px;
    color: rgb(199, 209, 219);
}


.love {
    font-family: 'Greycliff CF', sans-serif;
    font-size: 15px;
    color: rgb(199, 209, 219);
    margin-bottom: 25px;

    text-decoration: none;
    outline: none;
}

.link {
    color: rgb(9, 112, 255);
    transition: color 0.2s linear;
    text-decoration: none;
}

.link:hover{
    color: rgb(7, 89, 204);
}

.love:focus {
    outline: none;
}

.navigation {
    width: 45%;
    gap: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-bottom: 35px;
    min-width: 173px;
    min-height: 37px;
}